
<div ng-show="error" class="alert alert-danger" border="1">
  <strong>Error:</strong>
  <nobr ng-show="error.message">{{error.message}}</nobr>
  <!-- <nobr ng-show="!error.message">{{ error }}</nobr> -->
  <nobr ng-show="!error.message">
    <p></p>
    <pre>
      {{ error }}
    </pre>
  </nobr>
  <p></p>
</div>

<div class="container">
  <div>
    <a ng-disabled="loading" ng-show="blockheight" ng-href="#!/chain/{{selected_chain}}/block-height/{{blockheight - 1}}">{{ blockheight - 1 }}<<< </a>
    <input ng-disabled="loading" type="number" step="1" min="0" ng-model="blockheight" ng-change="searchBlockByHeight()" placeholder="Block Height">
    <a ng-disabled="loading" ng-show="blockheight || blockheight == 0" ng-href="#!/chain/{{selected_chain}}/block-height/{{blockheight + 1}}"> >>>{{ blockheight + 1 }} </a>

    <input ng-disabled="loading" ng-model="blockid" ng-change="searchBlock()" placeholder="Block Hash">
    <p></p>
    <div>
      <input ng-disabled="loading" ng-model="txid" ng-change="searchTx()" placeholder="Tx Id">
    </div>
    <p></p>

  </div>
  <p></p>

  <div class="container">
    <label>
      Limit Raw hexadecimal strings to:
      <input type="number" step="1" ng-model="rawhex_limit">
    </label>
  </div>
  <p></p>

</div> <!-- container -->

<div class="container" ng-show="!blockheight && !blockid && !txid">

  Some recent blocks ( {{ recentblocks.length }} ):
  <p></p>

  <table ng-show="recentblocks" border="1">
    <tr>
      <th>Height</th>
      <th>Median time</th>
      <th>Txs</th>
      <th>Size (bytes)</th>
      <th>Hash</th>
    </tr>
    <tr ng-repeat="rblock in recentblocks">
      <td><a ng-href="#!/chain/{{selected_chain}}/block-height/{{rblock.height}}">{{ rblock.height }}</a></td>
      <td> {{ rblock.mediantime * 1000 | date:'HH:mm:ss yyyy-MM-dd' }} </td>
      <td> {{ rblock.tx_count }} </td>
      <td> {{ rblock.size }} </td>
      <td><a ng-href="#!/chain/{{selected_chain}}/block/{{rblock.hash}}">{{ rblock.hash }}</a></td>
    </tr>
  </table>
  <p></p>

  <nobr>
    Some unconfirmed transactions ( {{ mempooltxs.length }} ):
  </nobr>
  <p></p>

  <table ng-show="mempooltxs" border="1">
    <tr ng-repeat="txhash in mempooltxs">
      <td><a ng-href="#!/chain/{{selected_chain}}/tx/{{txhash}}">{{ txhash }}</a></td>
    </tr>
  </table>
  <p></p>

  Some recently confirmed transactions ( {{ confirmed_txs.length }} ):
  <p></p>

  <table ng-show="confirmed_txs" border="1">
    <tr ng-repeat="txhash in confirmed_txs">
      <td><a ng-href="#!/chain/{{selected_chain}}/tx/{{txhash}}">{{ txhash }}</a></td>
    </tr>
  </table>
  <p></p>

</div>

<div class="container">

  <div ng-show="block" border="1">
    Block Data:
    <p></p>

    <table border="1">

      <tr>
        <td>Height:</td>
        <td>{{ block.height }}</td>
      </tr>

      <tr>
        <td>Confirmations:</td>
        <td>{{ chaininfo.blocks - block.height + 1 }}</td>
      </tr>

      <tr>
        <td>Confirmations last cached:</td>
        <td>{{ block.confirmations }}</td>
      </tr>

      <tr>
        <td>Hash:</td>
        <td><a ng-href="#!/chain/{{selected_chain}}/block/{{block.hash}}">{{ block.hash }}</a></td>
      </tr>

      <tr>
        <td>Previous block hash:</td>
        <td><a ng-href="#!/chain/{{selected_chain}}/block/{{block.previousblockhash}}">{{ block.previousblockhash }}</a></td>
      </tr>

      <tr>
        <td>Stripped size (bytes):</td>
        <td>{{ block.strippedsize }}</td>
      </tr>

      <tr>
        <td>Size (bytes):</td>
        <td>{{ block.size }}</td>
      </tr>

      <tr>
        <td>Weight:</td>
        <td>{{ block.weight }}</td>
      </tr>

      <tr>
        <td>Version:</td>
        <td>{{ block.version }}</td>
      </tr>

      <tr>
        <td>Time:</td>
        <td>{{ block.time }}  ( {{block.time * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}} ) </td>
      </tr>

      <tr>
        <td>Median time:</td>
        <td>{{ block.mediantime }}  ( {{block.mediantime * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}} ) </td>
      </tr>

      <tr>
        <td>Merkle root:</td>
        <td>{{ block.merkleroot }}</td>
      </tr>

    </table>
    <p></p>

    <nobr ng-show="blockstats">
       Show Block Stats <input type="checkbox" ng-model="showstats">:
    </nobr>
    <p></p>

    <table ng-show="showstats && blockstats" border="1">
      <tr ng-repeat="(key, value) in blockstats">
        <td>{{key}}</td><td>{{value}}</td>
      </tr>
    </table>

    <p></p>
    <p></p>
    <nobr>
      Block Transactions ( {{ block.tx.length }} ): Show <input type="checkbox" ng-model="showtxlist">
    </nobr>
    <p></p>

    <table ng-show="showtxlist" border="1">
      <tr ng-repeat="txhash in block.tx">
        <td><a ng-href="#!/chain/{{selected_chain}}/tx/{{txhash}}">{{ txhash }}</a></td>
      </tr>
    </table>

    <p></p>
    <p></p>
  </div>
</div> <!-- block-container -->

<div ng-show="mempoolentry" class="container">

  <table border="1">

    <tr>
      <td>Virtual size (see BIP141):</td>
      <td>{{ mempoolentry.size }}</td>
    </tr>

    <tr>
      <td>Fee:</td>
      <td>{{ mempoolentry.fee }}</td>
    </tr>

    <tr>
      <td>Modified fee:</td>
      <td>{{ mempoolentry.modifiedfee }}</td>
    </tr>

    <tr>
      <td>Time:</td>
      <td>{{ mempoolentry.time }}</td>
    </tr>

    <tr>
      <td>Height:</td>
      <td>{{ mempoolentry.height }}</td>
    </tr>

    <tr>
      <td>Descendant count:</td>
      <td>{{ mempoolentry.descendantcount }}</td>
    </tr>

    <tr>
      <td>Descendant virtual size:</td>
      <td>{{ mempoolentry.descendantsize }}</td>
    </tr>

    <tr>
      <td>Descendant modified fees:</td>
      <td>{{ mempoolentry.descendantfees }}</td>
    </tr>

    <tr>
      <td>Ancestor count:</td>
      <td>{{ mempoolentry.ancestorcount }}</td>
    </tr>

    <tr>
      <td>Ancestor virtual size:</td>
      <td>{{ mempoolentry.ancestorsize }}</td>
    </tr>

    <tr>
      <td>Ancestor modified fees:</td>
      <td>{{ mempoolentry.ancestorfees }}</td>
    </tr>

  </table>
  <p></p>

  <span ng-show="mempoolentry.depends.length" class="container">
    <nobr>
      Depends on unconfirmed transactions used as inputs for this transaction ( {{ mempoolentry.depends.length }} ):
    </nobr>
    <p></p>

    <table border="1">
      <tr ng-repeat="txhash in mempoolentry.depends">
        <td><a ng-href="#!/chain/{{selected_chain}}/tx/{{txhash}}">{{ txhash }}</a></td>
      </tr>
    </table>

    <p></p>
  </span>

</div> <!-- mempoolentry container -->

<div class="container">

  <div ng-show="transaction" border="1">
    Transaction Data:
    <p></p>

    <table ng-show="transaction" border="1">

      <tr>
        <td>Txid:</td>
        <td><a ng-href="#!/chain/{{selected_chain}}/tx/{{transaction.txid}}">{{ transaction.txid }}</a></td>
      </tr>

      <tr>
        <td>Hash:</td>
        <td>{{ transaction.hash }}</td>
      </tr>

      <tr>
        <td>Blockhash:</td>
        <td>
          <a ng-show="transaction.blockhash" ng-href="#!/chain/{{selected_chain}}/block/{{transaction.blockhash}}">{{ transaction.blockhash }}</a>
          <nobr ng-show="!transaction.blockhash">Mempool transaction (not confirmed)</nobr>
        </td>
      </tr>

      <tr ng-show="transaction.blockhash">
        <td>Confirmations:</td>
        <td>{{ chaininfo.blocks - block.height + 1 }}</td>
      </tr>

      <tr ng-show="transaction.blockhash">
        <td>Confirmations last cached:</td>
        <td>{{ transaction.confirmations }}</td>
      </tr>

      <tr ng-show="transaction.blockhash">
        <td>Time:</td>
        <td>{{ transaction.time }}  ( {{transaction.time * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}} ) </td>
      </tr>

      <tr ng-show="transaction.blockhash">
        <td>Blocktime:</td>
        <td>{{ transaction.blocktime }}  ( {{transaction.blocktime * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}} ) </td>
      </tr>

      <tr>
        <td>Version:</td>
        <td>{{ transaction.version }}</td>
      </tr>

      <tr>
        <td>Size (bytes):</td>
        <td>{{ transaction.size }}</td>
      </tr>

      <tr>
        <td>Vsize:</td>
        <td>{{ transaction.vsize }}</td>
      </tr>

      <tr>
        <td>Fee:</td>
        <td>{{ transaction.fee }}</td>
      </tr>

      <tr>
        <td>Locktime:</td>
        <td>{{ transaction.locktime }}</td>
      </tr>

      <tr>
        <td>Hex:</td>
        <td><pre>{{ transaction.hex | limitTo:rawhex_limit }}</pre></td>
      </tr>

    </table>
    <p></p>

    Transaction Inputs ( {{ transaction.vin.length }} ):
    <p></p>

    <div ng-repeat="input in transaction.vin">
      <table border="1">
        <tr ng-show="input.sequence">
          <td>Sequence:</td>
          <td>{{ input.sequence }}</td>
        </tr>

        <tr ng-show="input.coinbase">
          <td>Coinbase:</td>
          <td><pre>{{ input.coinbase | limitTo:rawhex_limit }}</pre></td>
        </tr>

        <tr ng-show="input.txid">
          <td>Txid:</td>
          <td><a ng-href="#!/chain/{{selected_chain}}/tx/{{input.txid}}">{{ input.txid }}</a></td>
        </tr>

        <tr ng-show="input.vout">
          <td>vout:</td>
          <td>{{ input.vout }}</td>
        </tr>

        <tr ng-show="input.scriptSig.asm">
          <td>scriptSig.asm:</td>
          <td><pre>{{ input.scriptSig.asm | limitTo:rawhex_limit }}</pre></td>
        </tr>

        <tr ng-show="input.scriptSig.hex">
          <td>scriptSig.hex:</td>
          <td><pre>{{ input.scriptSig.hex | limitTo:rawhex_limit }}</pre></td>
        </tr>

        <tr ng-show="input.txinwitness">
          <td>txinwitness:</td>
          <td>
            <table border="1">
              <tr ng-repeat="wit in input.txinwitness">
                <td><pre>{{ wit | limitTo:rawhex_limit }}</pre></td>
              </tr>
            </table>
          </td>
        </tr>

      </table>

      <p></p>
    </div>

    Transaction Outputs ( {{ transaction.vout.length }} ):
    <p></p>

    <div ng-repeat="output in transaction.vout">
      <table border="1">
        <tr>
        </tr>

        <tr>
          <td>n:</td>
          <td>{{ output.n }}</td>
        </tr>

        <tr ng-show="output.asset">
          <td>Asset:</td>
          <td>{{ output.asset }}</td>
        </tr>

        <tr ng-show="output.assetcommitment">
          <td>Asset (confidential):</td>
          <td>{{ output.assetcommitment }}</td>
        </tr>

        <tr ng-show="!IsCTOut(output)">
          <td>value:</td>
          <td>{{ output.value }}</td>
        </tr>

        <tr ng-show="IsCTOut(output) && output.amountcommitment">
          <td>Amount (confidential):</td>
          <td>{{ output.amountcommitment }}</td>
        </tr>

        <tr ng-show="IsCTOut(output) && output.serValue">
          <td>serValue:</td>
          <td>{{ output.serValue }}</td>
        </tr>

        <tr ng-show="IsCTOut(output);">
          <td>ct-bits:</td>
          <td>{{ output["ct-bits"] }} <nobr ng-show="!IsCTOut(output);">non-CT</nobr></td>
        </tr>

        <tr ng-show="IsCTOut(output);">
          <td>ct-exponent:</td>
          <td>{{ output["ct-exponent"] }} <nobr ng-show="!IsCTOut(output);">non-CT</nobr></td>
        </tr>

        <tr ng-show="IsCTOut(output);">
          <td>value-minimum:</td>
          <td>{{ output["value-minimum"] }} <nobr ng-show="!IsCTOut(output);">non-CT</nobr></td>
        </tr>

        <tr ng-show="IsCTOut(output);">
          <td>value-maximum:</td>
          <td>{{ output["value-maximum"] }} <nobr ng-show="!IsCTOut(output);">non-CT</nobr></td>
        </tr>

        <tr ng-show="output.scriptPubKey.asm">
          <td>scriptPubKey.asm:</td>
          <td>{{ output.scriptPubKey.asm }}</td>
        </tr>

        <tr ng-show="output.scriptPubKey.hex">
          <td>scriptPubKey.hex:</td>
          <td>{{ output.scriptPubKey.hex }}</td>
        </tr>

        <tr ng-show="output.scriptPubKey.reqSigs">
          <td>scriptPubKey.reqSigs:</td>
          <td>{{ output.scriptPubKey.reqSigs }}</td>
        </tr>

        <tr ng-show="output.scriptPubKey.type">
          <td>scriptPubKey.type:</td>
          <td>{{ output.scriptPubKey.type }}</td>
        </tr>

        <tr ng-show="output.scriptPubKey.addresses">
          <td>scriptPubKey.addresses:</td>
          <td>
            <table border="1">
              <tr ng-repeat="addr in output.scriptPubKey.addresses">
                <td>
                  <a ng-href="#!/chain/{{selected_chain}}/address?address={{addr}}&start_height={{blockheight}}&end_height={{blockheight}}">{{ addr }}</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr ng-show="output.scriptPubKey.pegout_chain">
          <td>scriptPubKey.pegout_chain:</td>
          <td>{{ output.scriptPubKey.pegout_chain }}</td>
        </tr>

        <tr ng-show="output.scriptPubKey.pegout_asm">
          <td>scriptPubKey.pegout_asm:</td>
          <td>{{ output.scriptPubKey.pegout_asm }}</td>
        </tr>

        <tr ng-show="output.scriptPubKey.pegout_hex">
          <td>scriptPubKey.pegout_hex:</td>
          <td>{{ output.scriptPubKey.pegout_hex }}</td>
        </tr>

        <tr ng-show="output.scriptPubKey.pegout_reqSigs">
          <td>scriptPubKey.pegout_reqSigs:</td>
          <td>{{ output.scriptPubKey.pegout_reqSigs }}</td>
        </tr>

        <tr ng-show="output.scriptPubKey.pegout_type">
          <td>scriptPubKey.pegout_type:</td>
          <td>{{ output.scriptPubKey.pegout_type }}</td>
        </tr>

        <tr ng-show="output.scriptPubKey.pegout_addresses">
          <td>scriptPubKey.pegout_addresses:</td>
          <td>
            <table border="1">
              <tr ng-repeat="addr in output.scriptPubKey.pegout_addresses">
                <td>
                  <a ng-href="#!/chain/{{output.scriptPubKey.pegout_chain}}/address?address={{addr}}">{{ addr }}</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <p></p>
    </div>
    <p></p>
  </div>
</div> <!-- tx-container -->

<div class="container" ng-show="curious">

  Last getblock call result:
  <div class="container">
    <pre>
      {{ blockjson }}
    </pre>
  </div>

  Last getrawtransaction call result:
  <div class="container">
    <pre>
      {{ txjson }}
    </pre>
  </div>

</div>
