
<div ng-show="error" class="alert alert-danger" border="1">
  <strong>Error:</strong>
  <nobr ng-show="error.message">{{error.message}}</nobr>
  <!-- <nobr ng-show="!error.message">{{ error }}</nobr> -->
  <nobr ng-show="!error.message">
    <p></p>
    <pre>
      {{ error }}
    </pre>
  </nobr>
</div>
<p></p>

<div ng-show="mempoolinfo" class="container" border="1">
  Mempool Info:
  <button ng-disabled="loading" ng-click="InitForSelectedChain();">Reload</button>
  <p></p>

  <table border="1">

    <tr>
      <td>Chain:</td>
      <td><a ng-href="#!/chain/{{selected_chain}}">{{selected_chain}}</a></td>
    </tr>

    <tr>
      <td>Size:</td>
      <td>{{ mempoolinfo.size }}</td>
    </tr>

    <tr>
      <td>Virtual bytes (see BIP141):</td>
      <td>{{ mempoolinfo.bytes }}</td>
    </tr>

    <tr>
      <td>Total memory usage:</td>
      <td>{{ mempoolinfo.usage }}</td>
    </tr>

    <tr>
      <td>Maximum memory usage:</td>
      <td>{{ mempoolinfo.maxmempool }}</td>
    </tr>

    <tr>
      <td>Minimum feerate for tx to be accepted:</td>
      <td>{{ mempoolinfo.mempoolminfee }}</td>
    </tr>

  </table>
  <p></p>
</div>

<div class="container">
  <nobr>
    Mempool Transactions ( {{ mempooltxs.length }} ):
    <button ng-disabled="loading" ng-click="LoadMempoolTxs();">Load</button>
  </nobr>
  <p></p>

  <table ng-show="mempooltxs" border="1">
    <tr ng-repeat="txhash in mempooltxs">
      <td><a ng-href="#!/chain/{{selected_chain}}/tx/{{txhash}}">{{ txhash }}</a></td>
    </tr>
  </table>

  <p></p>
</div>
