
<div ng-show="error" class="alert alert-danger" border="1">
  <strong>Error:</strong>
  <nobr ng-show="IsErrorString()">{{error.message}}</nobr>
  <!-- <nobr ng-show="!error.message">{{ error }}</nobr> -->
  <nobr ng-show="!error.message">
    <p></p>
    <pre>
      {{ error }}
    </pre>
  </nobr>
  <p></p>
</div>

<div class="container">

  <div class="container">
    Hours ago:
    <input ng-disabled="loading_stats" type="number" min="1" step="1" ng-model="hours_ago">
    <button ng-disabled="loading_stats" ng-click="doPlot();">Plot</button>
    <p></p>
  </div>

  <div class="container">
    Type:
    <span ng-repeat="name in stats_types">
      <input type="radio"
             name="sel_stats_type"
             value="{{name}}"
             ng-checked="name == sel_stats_type"
             ng-click="changeStatType(name)">
      {{name}}
    </span>
  </div>
  <p></p>

  <divclass="container">
    Select intervals:
    <p></p>
    <span ng-repeat="name in valid_stats">
      {{name}}
      <input type="checkbox"
             value="{{name}}"
             ng-checked="selected_stats.indexOf(name) > -1"
             ng-click="toggleStat(name)"
             >
    </span>
  </div>
</div>
<p></p>

<div ng-show="!loading_stats && !graphPlots" class="container">
  No data to plot.
  <p></p>
  <p></p>
</div>

<div ng-show="loading_stats" class="container">
  Please wait...
  <p></p>
  <p></p>
</div>

<div ng-show="!loading_stats && graphPlots" class="container">
  <!-- This is where we are going to put our custom plotly directive -->
  <line-plot graph-plots=graphPlots></line-plot>
</div>

<div class="container">
  Verbose Stats:
  <input type="checkbox" ng-model="verbose_stats">
  <p></p>
</div>

<div class="container" ng-show="verbose_stats">
  <pre>
    {{ graph_mp }}
  </pre>
</div>
