
<div ng-show="error" class="alert alert-danger" border="1">
  <strong>Error:</strong>
  <nobr ng-show="error.message">{{error.message}}</nobr>
  <!-- <nobr ng-show="!error.message">{{ error }}</nobr> -->
  <nobr ng-show="!error.message">
    <p></p>
    <pre>
      {{ error }}
    </pre>
  </nobr>
</div>
<p></p>

<div class="container">
  <nobr>
    Some mempool transactions ( {{ mempooltxs.length }} ):
    <button ng-disabled="loading" ng-click="LoadMempoolTxs();">Load</button>
  </nobr>
  <p></p>

  <table ng-show="mempooltxs" border="1">
    <tr ng-repeat="txhash in mempooltxs">
      <td><a ng-href="#!/chain/{{selected_chain}}/tx/{{txhash}}">{{ txhash }}</a></td>
    </tr>
  </table>

  <p></p>
</div>
