
$teal: #28948f;
$light-blue: #00ccff;
$grey: #78838e;
$dark-grey: #22242c;
$black: #15191e;
$black-background: #0f1318;

$navbar-height: 76px;
$footer-height: 60px;

@font-face {
    font-family: DINPro;
    src: url("../font/DINPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: DINPro;
    font-weight: bold;
    src: url("../font/DINPro-Medium.otf") format("opentype");
}

@mixin table() {
    & {
        display: table;
        table-layout:fixed;
        width: 100%;
    }
    & > * {
        display: table-cell;
        vertical-align: middle;
    }
}

@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }
    #{$property}: $value;
}

@mixin clickable() {
    @include prefix(user-select, none, webkit moz o ms);
    -webkit-touch-callout: none;
    user-select: none;
    cursor: pointer;
}

body {
    font-family: DINPro;
    color: #fff;
    background-color: $black-background;
}

a, a:link, a:visited, a:hover, a:focus {
    color: $light-blue;
    text-decoration: none;
}

.content-wrap {
  min-height: calc(100vh - #{$footer-height} - 24px);
  margin-bottom: 24px;
}

.navbar {
    margin-bottom: calc(#{$navbar-height} * -1);
    background-color: rgba(26, 31, 38, 0.6);
}

.jumbotron-fluid {
    background-image: url("../img/Header-a-HD.png");
    background-position: center center;
    height: 346px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: calc(#{$navbar-height} + 64px);
    margin-bottom: 3.5rem;
    &.block-page {
      background-image: url("../img/Header-b-HD.png");
    }
    h1 {
      margin-bottom: 2rem;
    }
    .block-hash {
      img {
        width: 30px;
      }
    }
    .block-dropdowns {
        display: flex;
        flex-direction: row;
        & > div {
          @include table;
          @include clickable;
          height: 40px;
          background-color: $dark-grey;
          border-radius: 2px;
          border: 1px solid $teal;
          &.date-dropdown {
            width: 220px;
          }
          &.time-dropdown {
            width: 184px;
            margin-left: 12px;
          }
          & > div:nth-child(1) {
            width: 42px;
            padding-right: 12px;
            & > img {
              width: 30px;
            }
          }
          & > div:nth-child(2) {
            font-size: 14px;
            font-weight: 600;
          }
          & > div:nth-child(3) {
            width: 42px;
            padding-left: 12px;
            & > img {
              width: 30px;
            }
          }
       }
    }
    .prev-next-blocks-btns {
        @include table;
        & > div {
          a, a:link, a:visited, a:hover, a:focus {
              color: #fff;
              text-decoration: none;
              text-transform: uppercase;
              font-size: 14px;
              font-weight: 400;
          }
          a > div {
            @include table;
            width: 140px !important;
            height: 40px;
            border: 1px solid $light-blue;
            border-radius: 5px;
            background-color: $dark-grey;
         }
         &:nth-child(1) {
           a > div {
             & > div:nth-child(1) {
               width: 30px;
               img {
                 width: 30px;
               }
             }
             & > div:nth-child(2) {
               text-align: center;
             }
           }
         }
         &:nth-child(2) {
           a > div {
             float: right;
             & > div:nth-child(1) {
               text-align: center;
             }
             & > div:nth-child(2) {
               width: 30px;
               img {
                 width: 30px;
               }
             }
           }
         }
       }
    }
}

body, .navbar, .jumbotron-fluid, footer {
    & > .container {
      max-width: 1000px;
    }
}

.blocks-table {
    .blocks-table-row {
        @include table;
        &.header, &.block-data {
            height: 52px;
            & > * {
                font-size: 16px;
            }
        }
        &.header {
            & > * {
                text-transform: uppercase;
                color: $grey;
                font-weight: 600;
            }
        }
        &.block-data {
            border-top: 1px $dark-grey solid;
            & > * {
                font-size: 16px;
            }
        }
    }
}

.block-stats-table {
  & > div {
    @include table;
    height: 52px;
    border-top: 1px solid $dark-grey;
    font-size: 16px;
    &:last-child {
      border-bottom: 1px solid $dark-grey;
    }
    & > div:nth-child(1) {
      text-transform: uppercase;
      color: $grey;
    }
    & > div:nth-child(2) {
      text-align: right;
    }
  }
}

.transactions {
  margin-top: 84px;
}

.transaction-box:not(:first-of-type) {
  margin-top: 24px;
}
.transaction-box {
  background-color: $black;
  padding: 0 24px;
  border-radius: 5px;
  & > .header {
    @include table;
    height: 88px;
    a {
      font-size: 16px;
      font-weight: 600;
    }
    & > div:nth-child(2) {
      width: 200px;
      & > div {
        @include table;
        @include clickable;
        width: 200px;
        height: 34px;
        border: 1px solid $teal;
        border-radius: 2px;
        color: $teal;
        float: right;
        text-transform: uppercase;
        font-size: 14px;
        & > div:nth-child(1) {
          text-align: center;
        }
        & > div:nth-child(2) {
          width: 30px;
        }
      }
    }
  }
  & > .ins-and-outs {
    @include table;
    & > div {
      vertical-align: top;
    }
    & > .vins, .vouts {
      & > div {
        &:not(:first-child) {
          margin-top: 12px;
        }
        background-color: $dark-grey;
        border-radius: 5px;
        height: 46px;
        line-height: 46px;
        font-size: 14px;
        padding: 0 24px;
      }
    }
    & > div:nth-child(2) {
      width: 74px;
      padding: 0 12px;
      & > div {
        height: 46px;
        & > .helper {
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }
        img {
          vertical-align: middle;
          width: 50px;
        }
      }
    }
  }
  & > .footer {
    @include table;
    height: 64px;
    & > div:nth-child(1) {
      & > span:nth-child(1) {
        color: $grey;
        text-transform: uppercase;
        margin-right: 36px;
      }
    }
    & > div:nth-child(2) {
      width: 74px;
    }
    & > div:nth-child(3) {
      text-align: right;
      text-transform: uppercase;
      color: $teal;
    }
  }
}

.explorer-container > .footer {
  width: 100%;
  height: $footer-height; /* Set the fixed height of the footer here */
  line-height: $footer-height; /* Vertically center the text there */
  background-color: #000;
  & > .container {
    @include table;
    & > *:nth-child(2) {
      text-align: right;
    }
  }
}
