
<div class="container">
  <nobr>
    Chain:
    <select ng-model="selected_chain" ng-change="InitForSelectedChain();"
            ng-options="chainpetname as chainpetname for chainpetname in available_chains">
    </select>
  </nobr>

  Verbose CT:
  <input type="checkbox" ng-model="CTverbose">

  Verbose RPC:
  <input type="checkbox" ng-model="verbose">
</div>
<p></p>

<div class="container">
  <div>
    Block Height: <input ng-model="blockheight" ng-change="searchBlockByHeight()">
    Block Hash: <input ng-model="blockid" ng-change="searchBlock()">
    <p></p>
    <div>
      Tx Id: <input ng-model="txid" ng-change="searchTx()">
    </div>
    <p></p>

  </div>

</div> <!-- container -->

<div ng-show="error" class="alert alert-danger" border="1">
  <strong>Error:</strong>
  <nobr ng-show="error.message">{{error.message}}</nobr>
  <!-- <nobr ng-show="!error.message">{{ error }}</nobr> -->
  <nobr ng-show="!error.message">
    <p></p>
    <pre>
      {{ error }}
    </pre>
  </nobr>
</div>
<p></p>

<div ng-show="chaininfo" class="container" border="1">
  Chain Data:
  <p></p>

  <table ng-show="chaininfo" border="1">

    <tr>
      <td>Chain:</td>
      <td>{{ chaininfo.chain }}</td>
    </tr>

    <tr>
      <td>Best block hash:</td>
      <td><a ng-href="#!/chain/{{selected_chain}}/block/{{chaininfo.bestblockhash}}">{{ chaininfo.bestblockhash }}</a></td>
    </tr>

    <tr>
      <td>Blocks:</td>
      <td>{{ chaininfo.blocks }}</td>
    </tr>

    <tr>
      <td>Median time:</td>
      <td>{{ chaininfo.mediantime }}</td>
    </tr>

  </table>
  <p></p>
</div>

<div class="container">

  <div ng-show="block" border="1">
    Block Data:
    <p></p>

    <table ng-show="block" border="1">

      <tr>
        <td>Height:</td>
        <td>{{ block.height }}</td>
      </tr>

      <tr>
        <td>Hash:</td>
        <td><a ng-href="#!/chain/{{selected_chain}}/block/{{block.hash}}">{{ block.hash }}</a></td>
      </tr>

      <tr>
        <td>Previous block hash:</td>
        <td><a ng-href="#!/chain/{{selected_chain}}/block/{{block.previousblockhash}}">{{ block.previousblockhash }}</a></td>
      </tr>

      <tr>
        <td>Confirmations:</td>
        <td>{{ block.confirmations }}</td>
      </tr>

      <tr>
        <td>Stripped size (bytes):</td>
        <td>{{ block.strippedsize }}</td>
      </tr>

      <tr>
        <td>Size (bytes):</td>
        <td>{{ block.size }}</td>
      </tr>

      <tr>
        <td>Weight:</td>
        <td>{{ block.weight }}</td>
      </tr>

      <tr>
        <td>Version:</td>
        <td>{{ block.version }}</td>
      </tr>

      <tr>
        <td>Time:</td>
        <td>{{ block.time }}</td>
      </tr>

      <tr>
        <td>Median time:</td>
        <td>{{ block.mediantime }}</td>
      </tr>

      <tr>
        <td>Merkle root:</td>
        <td>{{ block.merkleroot }}</td>
      </tr>

    </table>
    <p></p>

    Block Transactions ( {{ block.tx.length }} ):
    <p></p>

    <table border="1">
      <tr ng-repeat="txhash in block.tx">
        <td><a ng-href="#!/chain/{{selected_chain}}/tx/{{txhash}}">{{ txhash }}</a></td>
      </tr>
    </table>

    <p></p>
    <p></p>
  </div>
</div> <!-- block-container -->

<div class="container">

  <div ng-show="transaction" border="1">
    Transaction Data:
    <p></p>

    <table ng-show="transaction" border="1">

      <tr>
        <td>Txid:</td>
        <td><a ng-href="#!/chain/{{selected_chain}}/tx/{{transaction.txid}}">{{ transaction.txid }}</a></td>
      </tr>

      <tr>
        <td>Hash:</td>
        <td>{{ transaction.hash }}</td>
      </tr>

      <tr>
        <td>Blockhash:</td>
        <td><a ng-href="#!/chain/{{selected_chain}}/block/{{block.hash}}">{{ block.hash }}</a></td>
      </tr>

      <tr>
        <td>Version:</td>
        <td>{{ transaction.version }}</td>
      </tr>

      <tr>
        <td>Size (bytes):</td>
        <td>{{ transaction.size }}</td>
      </tr>

      <tr>
        <td>Vsize:</td>
        <td>{{ transaction.vsize }}</td>
      </tr>

      <tr>
        <td>Fee:</td>
        <td>{{ transaction.fee }}</td>
      </tr>

      <tr>
        <td>Confirmations:</td>
        <td>{{ transaction.confirmations }}</td>
      </tr>

      <tr>
        <td>Locktime:</td>
        <td>{{ transaction.locktime }}</td>
      </tr>

      <tr>
        <td>Time:</td>
        <td>{{ transaction.time }}</td>
      </tr>

      <tr>
        <td>Blocktime:</td>
        <td>{{ transaction.blocktime }}</td>
      </tr>

      <tr>
        <td>Hex:</td>
        <td>{{ transaction.hex }}</td>
      </tr>

    </table>
    <p></p>

    Transaction Inputs ( {{ transaction.vin.length }} ):
    <p></p>

    <div ng-repeat="input in transaction.vin">
      <table border="1">
        <tr>
          <td>Sequence:</td>
          <td>{{ input.sequence }}</td>
        </tr>

        <tr ng-show="input.coinbase">
          <td>Coinbase:</td>
          <td>{{ input.coinbase }}</td>
        </tr>

        <tr ng-show="!input.coinbase">
          <td>Txid:</td>
          <td><a ng-href="#!/chain/{{selected_chain}}/tx/{{input.txid}}">{{ input.txid }}</a></td>
        </tr>

        <tr ng-show="!input.coinbase">
          <td>vout:</td>
          <td>{{ input.vout }}</td>
        </tr>

        <tr ng-show="!input.coinbase">
          <td>scriptSig.asm:</td>
          <td>{{ input.scriptSig.asm }}</td>
        </tr>

        <tr ng-show="!input.coinbase">
          <td>scriptSig.hex:</td>
          <td>{{ input.scriptSig.hex }}</td>
        </tr>

        <tr>
          <td>txinwitness:</td>
          <td>{{ input.txinwitness }}</td>
        </tr>

      </table>

      <p></p>
    </div>

    Transaction Outputs ( {{ transaction.vout.length }} ):
    <p></p>

    <div ng-repeat="output in transaction.vout">
      <table border="1">
        <tr>
        </tr>

        <tr>
          <td>n:</td>
          <td>{{ output.n }}</td>
        </tr>

        <tr ng-show="CTverbose || !IsCTOut(output);">
          <td>value:</td>
          <td>{{ output.value }} <nobr ng-show="IsCTOut(output);">Hidden by CT</nobr></td>
        </tr>

        <tr>
          <td>serValue:</td>
          <td>{{ output.serValue }}</td>
        </tr>

        <tr ng-show="CTverbose || IsCTOut(output);">
          <td>ct-bits:</td>
          <td>{{ output["ct-bits"] }} <nobr ng-show="!IsCTOut(output);">non-CT</nobr></td>
        </tr>

        <tr ng-show="CTverbose || IsCTOut(output);">
          <td>ct-exponent:</td>
          <td>{{ output["ct-exponent"] }} <nobr ng-show="!IsCTOut(output);">non-CT</nobr></td>
        </tr>

        <tr ng-show="CTverbose || IsCTOut(output);">
          <td>value-minimum:</td>
          <td>{{ output["value-minimum"] }} <nobr ng-show="!IsCTOut(output);">non-CT</nobr></td>
        </tr>

        <tr ng-show="CTverbose || IsCTOut(output);">
          <td>value-maximum:</td>
          <td>{{ output["value-maximum"] }} <nobr ng-show="!IsCTOut(output);">non-CT</nobr></td>
        </tr>

        <tr>
          <td>scriptSig.asm:</td>
          <td>{{ output.scriptPubKey.asm }}</td>
        </tr>

        <tr>
          <td>scriptPubKey.hex:</td>
          <td>{{ output.scriptPubKey.hex }}</td>
        </tr>

        <tr>
          <td>scriptPubKey.reqSigs:</td>
          <td>{{ output.scriptPubKey.reqSigs }}</td>
        </tr>

        <tr>
          <td>scriptPubKey.type:</td>
          <td>{{ output.scriptPubKey.type }}</td>
        </tr>

        <tr>
          <td>output.scriptPubKey.addresses:</td>
          <td>
            <table border="1">
              <tr ng-repeat="addr in output.scriptPubKey.addresses">
                <td>{{ addr }}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <p></p>
    </div>
    <p></p>
  </div>
</div> <!-- tx-container -->

<div class="container" ng-show="verbose">

  Last getblock call result:
  <div class="container">
    <pre>
      {{ blockjson }}
    </pre>
  </div>

  Last getrawtransaction call result:
  <div class="container">
    <pre>
      {{ txjson }}
    </pre>
  </div>

</div>
