
<div class="container">
  Start Height:
  <input ng-disabled="loading_stats" type="number" step="1" ng-model="start_height">
  End Height:
  <input ng-disabled="loading_stats" type="number" step="1" ng-model="end_height">

  <button ng-disabled="loading_stats" ng-click="doPlot();">Plot</button>

  Verbose Stats:
  <input type="checkbox" ng-model="verbose_stats">
</div>
<p></p>

<div ng-show="error" class="alert alert-danger" border="1">
  <strong>Error:</strong>
  <nobr ng-show="IsErrorString()">{{error.message}}</nobr>
  <!-- <nobr ng-show="!error.message">{{ error }}</nobr> -->
  <nobr ng-show="!error.message">
    <p></p>
    <pre>
      {{ error }}
    </pre>
  </nobr>
</div>
<p></p>

<div ng-show="!loading_stats && !graphPlots" class="container">
  No data to plot.
  <p></p>
  <p></p>
</div>

<div ng-show="loading_stats" class="container">
  Please wait...
  <p></p>
  <p></p>
</div>

<div ng-show="!loading_stats && graphPlots" class="container">

  <div class="container">
    X axis:
    <span ng-repeat="name in xaxis_list">
      <input type="radio"
             name="xaxis"
             value="{{name}}"
             ng-checked="name == xaxis"
             ng-click="changeXaxis(name)"
             > {{name}}
    </span>
  </div>
  <p></p>

  <divclass="container">
    <span ng-repeat="name in valid_stats">
      <input type="checkbox"
             value="{{name}}"
             ng-checked="selected_stats.indexOf(name) > -1"
             ng-click="toggleStat(name)"
             > {{name}}
    </span>
  </div>

  <!-- This is where we are going to put our custom plotly directive -->
  <line-plot ng-show="!loading_stats && graphPlots" graph-plots=graphPlots></line-plot>

  <div class="container" ng-show="verbose_stats">

    Last getperblockstats call result:
    <pre>
      {{ plot_data }}
    </pre>
  </div>
</div>
